# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
dist/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Temp
*.log
.pytest_cache/

# Claude
.claude/
frontend/public/soundfont/
